.submenu {
  @include list-reset;
  max-height: 0;
  overflow: hidden;
  transition: 0.7s ease;
}

.filter__list--category .filter--open .submenu {
  @include list-reset;
  max-height: 700px;
  padding-left: 20px;
  transition: 0.7s ease;
}

.submenu__level {
  @include list-reset;
  max-height: 0;
  overflow: hidden;
  transition: 0.7s ease;
}

.submenu__level--open {
  @include list-reset;
  max-height: 500px;
  padding-left: 20px;
  transition: 0.7s ease;
}

.submenu__item {
  width: 100%;
  padding-left: 10px;
}

.submenu__link {
  display: block;
  padding: 0 5px 0 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  text-align: left;
  color: #70635d;

  &:hover,
  &:focus {
    background-color: #fbd2a4;
    color: #562f2f;
  }
}

.submenu__svg {
  transform: rotate(-90deg);
  transition: 0.7s ease;

  &--open {
    transform: rotate(0deg);
    transition: 0.7s ease;
  }
}
